---
interface Props {
    href: string;
}

const { href } = Astro.props;
---

<a
    href={href}
    target="_blank"
    class={` button-project relative inline-flex items-center justify-center p-0.5 overflow-hidden text-sm font-medium text-background-600 rounded-lg group bg-gradient-to-br from-purple-500 to-red-400 dark:to-blue-500 dark:text-white focus:outline-none focus:from-purple-600 focus:to-red-500 dark:focus:to-blue-700 transform active:scale-90 transition-transform`}
>
    <span
        class="relative px-5 py-2.5 transition-all ease-in duration-150 bg-background-100 dark:bg-background-600 rounded-md group-focus:bg-opacity-0"
    >
        <slot />
    </span>
</a>

<style>
    a.button-project.light-hover:hover {
        color: #ffffff;
    }

    a.button-project:hover span {
        background: transparent;
    }
</style>
