---
import { getI18N } from "@/i18n";
import LayoutContent from "@/layouts/LayoutContent.astro";
import SubTitle from "../SubTitle.astro";
import TextColor from "../TextColor.astro";
import CardProject from "./CardProject.astro";

const { currentLocale } = Astro;

const i18n = getI18N({ currentLocale });
---

<LayoutContent>
    <div class="flex-grow flex flex-col justify-start gap-10">
        <SubTitle>
            {i18n.PROJECTS.TITLE[1]}
            <TextColor>
                {i18n.PROJECTS.TITLE[2]}
            </TextColor>
        </SubTitle>

        <div class="flex items-center justify-center gap-10 flex-wrap mx-10">
            <CardProject
                id="1"
                imageUrl="/assets/spotifyClone.webp"
                title="Spotify Clone"
                content={`reimagined take on the classic arcade game "Space Invaders," crafted entirely with TypeScript.`}
                githubUrl="https://github.com/bruaguspons/spotify-clone-react"
            />
            <CardProject
                id="2"
                imageUrl="/assets/spaceInvaders.webp"
                title="Space Invader"
                content={`reimagined take on the classic arcade game "Space Invaders," crafted entirely with TypeScript.`}
                githubUrl="https://github.com/bruaguspons/SpaceInvaders"
                appUrl="https://bruaguspons.github.io/SpaceInvaders/"
            />
            <CardProject
                id="3"
                imageUrl="/assets/knight.svg"
                title="Chess + AI"
                content={`reimagined take on the classic arcade game "Space Invaders," crafted entirely with TypeScript.`}
                commingSoon={true}
                githubUrl=""
            />
        </div>
    </div>
</LayoutContent>
