---
interface Props {
    className?: string;
}

const { className } = Astro.props;
---

<div
    id="linuxIcon"
    class={`w-full aspect-square bg-contain bg-no-repeat bg-center ${className}`}
>
</div>

<style>
    #linuxIcon {
        background-image: url("./linuxIcon.png");
    }
</style>
