---
import Switch from "@/components/Switch.astro";
const { url } = Astro.request;

const isEs = url.includes("es");
const newUrl = isEs ? url.replace("/es/", "/en/") : url.replace("/en/", "/es/");
---

<div class="flex gap-3">
  <span>EN</span>
  <Switch
    id="switchLanguage"
    isChecked={isEs}
    ariaLabel="Switch Language Button"
  />
  <span>ES</span>
</div>

<script is:inline define:vars={{ newUrl }}>
  const switchElem = document.getElementById("switchLanguage");

  if (switchElem) {
    switchElem.addEventListener("click", () => {
      const isChecked = Boolean(switchElem.dataset.checked);
      if (isChecked) {
        switchElem.dataset.checked = "";
      } else {
        switchElem.dataset.checked = "true";
      }
      switchElem.disabled = true;
      setTimeout(() => {
        window.location.href = newUrl;
      }, 400);
    });
  }
</script>
