#about {
    height: min-content;
    margin: 1rem;
}

#about img {
    width: 100%;
    max-width: 15rem;
    left: 1rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    margin-right: 2rem;
    border: .25rem solid var(--color-text-secundary);
    border-radius: 2rem;
}

#about p {
    color: var(--color-text-secundary);
    margin: 2rem;
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.5em;
    display: flex;
}


@media (max-width: 830px) {
    #about img {
        left: 0;
        right: 0;
        margin: auto;
    }

    #about p {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}