.container-about {
    margin: 0 1rem;
}

#about {
    height: min-content;
    max-width: 1000px;
    margin: 0 auto;
}

#about img {
    width: 100%;
    max-width: 15rem;
    left: 1rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    margin-right: 2rem;
    border: .2rem solid var(--color-text);
    border-radius: 2rem;
}

#about p {
    color: var(--color-text);
    margin: 2rem;
    text-align: left;
    font-size: var(--font-size-normal);
    line-height: 1.5em;
    display: flex;
}


@media (max-width: 830px) {
    #about img {
        left: 0;
        right: 0;
        margin: auto;
    }

    #about p {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        font-size: var(--font-size-small);
    }
}