#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.card {
  background: var(--secundaryDk);
  border: .5rem solid var(--secundary);
  border-radius: 3rem;
  /* margin: 2rem; */
}



.title {
  display: flex;
  flex-direction: row;
  font-size: 3rem;
  color: var(--color-text);
}

.title:before,
.title:after {
  content: "";
  flex: 1 1;
  height: 1px;
  background: var(--color-text-secundary);
  margin: auto;
  transform: scale(0);
  transition: all .2s ease-in;
}

.title:before {
  margin-right: 10px
}

.title:after {
  margin-left: 10px
}

.title:hover:before,
.title:hover:after {
  transform: scale(1);
}