#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.card {
  background: var(--secundaryDk);
  border: .5rem solid var(--secundary);
  border-radius: 3rem;
  /* margin: 2rem; */
}



.title {
  margin-top: 8rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: row;
  font-size: 3rem;
  color: var(--color-text);
}

.title:before,
.title:after {
  content: "";
  flex: 1 1;
  height: 1px;
  background: var(--color-text);
  margin: auto;
  transform: scale(0);
  transition: all .3s ease-in;
  transition-delay: .8s;
}

.title:before {
  margin-right: 10px
}

.title:after {
  margin-left: 10px
}

.title.effect:before,
.title.effect:after {
  transform: scale(1);
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

@media (max-width: 700px) {
  .title {
    font-size: 2rem;
  }
}