#contact {
    margin: 0 auto;
    max-width: 600px;
}

.contain-contact {

    color: var(--color-text);
    margin: 1rem;

}

.contain-contact form {
    padding: 1.5rem 1rem;
    display: flex;
    gap: 1.5rem;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-size: var(--font-size-normal)
}

.contain-contact input,
textarea {
    width: 70%;
    outline: none;
    color: var(--color-text);
    background: var(--primary);
    border: none;
    border: 1px solid black;
    border-radius: 1.5rem;
    padding: .8rem 2rem;
}

.contain-contact button {
    color: var(--color-text);
    padding: .5rem 1.3rem;
    border: 2px solid black;
    border-radius: 1rem;
    background: var(--primary);
    cursor: pointer;
}

.contain-contact button:hover {
    background: var(--primaryLg);
}

.contain-contact button.disabled {
    color: rgba(255, 255, 255, 0.422);
    padding: .5rem 1.3rem;
    border: 2px solid black;
    border-radius: 1rem;
    background: rgb(64, 64, 64);
    cursor: not-allowed;
}

@media (max-width: 700px) {
    .contain-contact form {
        font-size: var(--font-size-small);
    }

    .contain-contact form>label {
        font-size: var(--font-size-normal)
    }
}