.container-home {
    --typewriterSpeed: 4.5s;
    --typewriterCharactersGmail: 24;
    --typewriterCharactersGit: 24;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* wave effect */
.container-name {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
}

h1 {
    font-family: "Work Sans", sans-serif;
    font-weight: 900;
    font-size: clamp(5rem, 10vw, 6rem);
    position: absolute;
    margin: 0 auto;
    top: 2rem;
    left: 0;
    right: 0;
    text-align: center;
}

h1.name {
    margin-right: 20rem;
}

h1.surname {
    margin-left: 20rem;
}

.border {
    color: var(--primary);
    text-shadow:
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
}

.wave.name {
    color: var(--secundaryLg);
    animation: wave 3s ease-in-out infinite;
}

.wave.surname {
    color: var(--secundaryLg);
    animation: wave2 3s ease-in-out infinite;
}

/* sub title */
.container-home>h2 {
    font-weight: bold;
    margin: 0 auto;
    margin: 15.0vmin 0;
    color: var(--color-text);
    font-size: clamp(1rem, 10vw, 4rem);
    /* font-size: 4rem; */
}

.container-home>h2>span {
    font-weight: bold;
    color: var(--secundaryLg);
}

/* social media logos */
footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

footer a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    color: var(--color-text);
    transition: font-size 0.25s, color 0.25s;
}

footer a span {
    font-size: 1rem;
    transition: font-size 0.25s;
}

footer a:hover {
    font-size: 4.5rem;
    color: var(--secundaryLg);
}

footer>a:hover span {
    font-size: 1.55rem;
    /* color: var(--secundaryLg); */
}


/* contacts effect */
.write-effect h2 {
    color: var(--color-text);
    font-size: clamp(1rem, 10vw, 2rem);
    font-family: "Source Code Pro", monospace;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid var(--secundaryLg);
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    margin-bottom: 5px;
    letter-spacing: .4rem;
    /* Gives that scrolling effect as the typing happens */
    /* Adjust as needed */

}

.text-git h2 {
    animation:
        typing var(--typewriterSpeed) steps(var(--typewriterCharactersGit)) alternate infinite,
        blink-caret .75s infinite;
}

.text-gmail h2 {
    animation:
        typing var(--typewriterSpeed) steps(var(--typewriterCharactersGmail)) alternate infinite,
        blink-caret .75s infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 99%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: var(--secundaryLg);
    }
}



@keyframes wave {

    0%,

    100% {
        clip-path: polygon(0% 47%, 10% 48%, 33% 54%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }

    50% {
        clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
}

@keyframes wave2 {

    0%,
    100% {
        clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }

    50% {
        clip-path: polygon(0% 47%, 10% 48%, 33% 54%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
}

@media (max-width: 800px) {
    h1.name {

        margin-right: 32vw;
    }

    h1.surname {

        margin-left: 32vw;
    }
}

@media (max-width: 590px) {
    h1.name {
        /* font-size: 18.0vw; */
        margin-right: 0rem;
        margin-top: 1rem;
    }

    h1.surname {
        /* font-size: 18.0vw; */
        margin-left: 0rem;
        margin-top: 6rem;
    }

    .text-git h2,
    .text-gmail h2 {
        display: none;
    }
}