---
import AboutComponent from "@/components/about/AboutComponent.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Portfolio - Bruno Pons">
    <main class="h-full">
        <AboutComponent />
    </main>
</Layout>
