---
import { getI18N } from "@/i18n";
import Carousel from "./carousel/Carousel.astro";
import TextColor from "../TextColor.astro";
// import BorderEffect from "../BorderEffect.astro";
import CardEffect from "../CardEffect.astro";
import SubTitle from "../SubTitle.astro";
import LayoutContent from "@/layouts/LayoutContent.astro";

const { currentLocale } = Astro;

const i18n = getI18N({ currentLocale });
---

<LayoutContent>
    <div class="flex-grow flex flex-col justify-start gap-10">
        <SubTitle>
            <TextColor>
                {i18n.ABOUT.TITLE[1]}
            </TextColor>
            {i18n.ABOUT.TITLE[2]}
        </SubTitle>

        <CardEffect classNameCard="mt-4 mx-10 after:blur-lg">
            <p class="text-lg">{i18n.ABOUT.CONTENT}</p>
        </CardEffect>

        <!-- <div class="inline-flex"> -->
        <Carousel />
        <!-- </div> -->
    </div>
</LayoutContent>
