---
import { getI18N } from "@/i18n";
import MyName from "../MyName.astro";

const { currentLocale } = Astro;

const i18n = getI18N({ currentLocale });
---

<section class="flex h-full items-center justify-center">
    <div class="flex max-w-[980px]">
        <span>{i18n.ABOUT.title}</span>
        <MyName className="text-xl" />
        <p>{i18n.ABOUT.content}</p>
    </div>
</section>
