---
import { getI18N, getLangFromUrl } from "@/i18n";
import TextColor from "../TextColor.astro";
// import BorderEffect from "../BorderEffect.astro";
import CardEffect from "../CardEffect.astro";
import SubTitle from "../SubTitle.astro";
import LayoutContent from "@/layouts/LayoutContent.astro";
import Stack from "./stack/Stack.astro";

// const { currentLocale } = Astro;

const url = Astro.request.url;
const currentLocale = getLangFromUrl(new URL(url));

const i18n = getI18N({ currentLocale });
---

<LayoutContent>
    <div class="flex-grow flex flex-col justify-start items-center gap-10">
        <SubTitle>
            <TextColor>
                {i18n.ABOUT.TITLE[1]}
            </TextColor>
            {i18n.ABOUT.TITLE[2]}
        </SubTitle>

        <CardEffect classNameCard="mt-4 mb-8 mx-10">
            {
                i18n.ABOUT.CONTENT.map((content, ind) => (
                    <p
                        class={`text-lg ${ind === i18n.ABOUT.CONTENT.length - 1 ? "" : "mb-4"}`}
                    >
                        {content}
                    </p>
                ))
            }
        </CardEffect>

        <Stack />
    </div>
</LayoutContent>
