---
import Css3Icon from "@/icons/tech/Css3Icon.astro";
import DjangoIcon from "@/icons/tech/DjangoIcon.astro";
import DockerIcon from "@/icons/tech/DockerIcon.astro";
import EslintIcon from "@/icons/tech/EslintIcon.astro";
import ExpressIcon from "@/icons/tech/ExpressIcon.astro";
import GitIcon from "@/icons/tech/GitIcon.astro";
import Html5Icon from "@/icons/tech/Html5Icon.astro";
import JavascriptIcon from "@/icons/tech/JavascriptIcon.astro";
import MongodbIcon from "@/icons/tech/MongodbIcon.astro";
import MysqlIcon from "@/icons/tech/MysqlIcon.astro";
import PostgresqlIcon from "@/icons/tech/PostgresqlIcon.astro";
import PythonIcon from "@/icons/tech/PythonIcon.astro";
import ReactIcon from "@/icons/tech/ReactIcon.astro";
import ReduxIcon from "@/icons/tech/ReduxIcon.astro";
import TypescriptIcon from "@/icons/tech/TypescriptIcon.astro";
---

<div
    class={`hidden sm:flex logos overflow-hidden py-16 bg-background-100 dark:bg-background-600 whitespace-nowrap relative mx-10 
    
    before:left-0 before:bg-gradient-to-l before:from-transparent before:to-background-100 dark:before:to-background-600 
    
    after:right-0 after:bg-gradient-to-r after:from-transparent after:to-background-100 dark:after:to-background-600`}
>
    <div class="absolute flex">
        <div class="logos-slide flex justify-around w-full">
            <Css3Icon className="h-14 mx-4" />
            <DjangoIcon className="h-14 mx-4" />
            <DockerIcon className="h-14 mx-4" />
            <EslintIcon className="h-14 mx-4" />
            <ExpressIcon
                className="h-14 mx-4 text-neutral-700 dark:text-neutral-200"
            />
            <GitIcon className="h-14 mx-4" />
            <Html5Icon className="h-14 mx-4" />
            <JavascriptIcon className="h-14 mx-4" />
            <MongodbIcon className="h-14 mx-4" />
            <MysqlIcon className="h-14 mx-4" />
            <PostgresqlIcon className="h-14 mx-4" />
            <PythonIcon className="h-14 mx-4" />
            <ReactIcon className="h-14 mx-4" />
            <ReduxIcon className="h-14 mx-4" />
            <TypescriptIcon className="h-14 mx-4" />
        </div>
        <div class="logos-slide flex justify-around w-full">
            <Css3Icon className="h-14 mx-4" />
            <DjangoIcon className="h-14 mx-4" />
            <DockerIcon className="h-14 mx-4" />
            <EslintIcon className="h-14 mx-4" />
            <ExpressIcon
                className="h-14 mx-4 text-neutral-700 dark:text-neutral-200"
            />
            <GitIcon className="h-14 mx-4" />
            <Html5Icon className="h-14 mx-4" />
            <JavascriptIcon className="h-14 mx-4" />
            <MongodbIcon className="h-14 mx-4" />
            <MysqlIcon className="h-14 mx-4" />
            <PostgresqlIcon className="h-14 mx-4" />
            <PythonIcon className="h-14 mx-4" />
            <ReactIcon className="h-14 mx-4" />
            <ReduxIcon className="h-14 mx-4" />
            <TypescriptIcon className="h-14 mx-4" />
        </div>
    </div>
</div>

<style is:inline>
    @keyframes slide {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-100%);
        }
    }

    .logos:before,
    .logos:after {
        position: absolute;
        top: 0;
        width: 250px;
        height: 100%;
        content: "";
        z-index: 2;
    }

    .logos:hover .logos-slide {
        animation-play-state: paused;
    }

    .logos-slide {
        animation: 20s slide infinite linear;
    }
</style>
