---
import LayoutContent from "@/layouts/LayoutContent.astro";
import SubTitle from "../SubTitle.astro";
import TextColor from "../TextColor.astro";
import { getI18N } from "@/i18n";
import BorderEffect from "../BorderEffect.astro";
import ContactForm from "./ContactForm.astro";

const { currentLocale } = Astro;

const i18n = getI18N({ currentLocale });
---

<LayoutContent>
    <div class="flex-grow flex flex-col justify-start gap-10">
        <SubTitle>
            <TextColor>
                {i18n.ABOUT.title[1]}
            </TextColor>
            {i18n.ABOUT.title[2]}
        </SubTitle>

        <BorderEffect>
            <ContactForm />
        </BorderEffect>
    </div>
</LayoutContent>
