---
import LayoutContent from "@/layouts/LayoutContent.astro";
import SubTitle from "../SubTitle.astro";
import TextColor from "../TextColor.astro";
import { getI18N } from "@/i18n";
import BorderEffect from "../BorderEffect.astro";
import ContactForm from "./ContactForm.astro";

const { currentLocale } = Astro;

const i18n = getI18N({ currentLocale });
---

<LayoutContent>
    <div class="flex-grow flex flex-col justify-start gap-10">
        <SubTitle>
            <TextColor>
                {i18n.CONTACT.TITLE[1]}
            </TextColor>
            {i18n.ABOUT.TITLE[2]}
        </SubTitle>

        <BorderEffect classList="mb-10">
            <ContactForm
                fields={[
                    {
                        id: i18n.CONTACT.NAME.ID,
                        label: i18n.CONTACT.NAME.LABEL,
                        autocomplete: i18n.CONTACT.NAME.AUTOCOMPLETE,
                        type: i18n.CONTACT.NAME.TYPE,
                        required: i18n.CONTACT.NAME.REQUIRED,
                        errors: i18n.CONTACT.LASTNAME.ERRORS,
                    },
                    {
                        id: i18n.CONTACT.LASTNAME.ID,
                        label: i18n.CONTACT.LASTNAME.LABEL,
                        autocomplete: i18n.CONTACT.LASTNAME.AUTOCOMPLETE,
                        type: i18n.CONTACT.LASTNAME.TYPE,
                        required: i18n.CONTACT.LASTNAME.REQUIRED,
                        errors: i18n.CONTACT.LASTNAME.ERRORS,
                    },
                    {
                        id: i18n.CONTACT.EMAIL.ID,
                        label: i18n.CONTACT.EMAIL.LABEL,
                        autocomplete: i18n.CONTACT.EMAIL.AUTOCOMPLETE,
                        type: i18n.CONTACT.EMAIL.TYPE as "email",
                        required: i18n.CONTACT.EMAIL.REQUIRED,
                        errors: i18n.CONTACT.EMAIL.ERRORS,
                    },
                    {
                        id: i18n.CONTACT.MESSAGE.ID,
                        label: i18n.CONTACT.MESSAGE.LABEL,
                        autocomplete: i18n.CONTACT.MESSAGE.AUTOCOMPLETE,
                        type: i18n.CONTACT.MESSAGE.TYPE as "textarea",
                        required: i18n.CONTACT.MESSAGE.REQUIRED,
                        errors: i18n.CONTACT.MESSAGE.ERRORS,
                    },
                ]}
                submitError={i18n.CONTACT.SUBMITERROR}
                fieldsError={i18n.CONTACT.FIELDSERROR}
            />
        </BorderEffect>
    </div>
</LayoutContent>
