<button
    id="btn-links"
    class="flex flex-col justify-center items-center h-full aspect-square p-2 border-none bg-transparent gap-[.6rem] group open"
>
    <div
        class="bg-white group-hover:bg-gradient-to-r group-hover:from-purple-500 group-hover:to-blue-500 h-1 w-full rounded-full transition duration-500 origin-left"
    >
    </div>
    <div
        class="bg-white group-hover:bg-gradient-to-r group-hover:from-purple-500 group-hover:to-blue-500 h-1 w-full rounded-full transition duration-500 origin-left"
    >
    </div>
    <div
        class="bg-white group-hover:bg-gradient-to-r group-hover:from-purple-500 group-hover:to-blue-500 h-1 w-full rounded-full transition duration-500 origin-left"
    >
    </div>
</button>

<script>
    const handleClick = () => {
        const button = document.getElementById("btn-links");
        const links = document.getElementById("header-links");
        if (button) {
            button.addEventListener("click", () => {
                if (button.classList.contains("open")) {
                    button.classList.remove("open");
                    button.classList.add("close");

                    if (
                        links &&
                        links.classList.contains("-translate-y-full")
                    ) {
                        links.classList.remove("-translate-y-full");
                        links.classList.add("translate-y-14");
                    }
                } else {
                    button.classList.remove("close");
                    button.classList.add("open");

                    if (links && links.classList.contains("translate-y-14")) {
                        links.classList.remove("translate-y-14");
                        links.classList.add("-translate-y-full");
                    }
                }
            });
        }
    };
    handleClick();
    document.addEventListener("astro:after-swap", () => {
        handleClick();
    });
</script>

<style>
    .close > div:nth-child(1) {
        transform: rotate(45deg);
    }

    .close > div:nth-child(2) {
        opacity: 0;
    }

    .close > div:nth-child(3) {
        transform: rotate(-45deg);
    }

    .open > div:nth-child(1) {
        transform: rotate(0);
    }

    .open > div:nth-child(2) {
        opacity: 1;
    }

    .open > div:nth-child(3) {
        transform: rotate(0);
    }
</style>
