<button
    id="btn-links"
    aria-label="Menu links"
    class="flex flex-col justify-center items-center h-4/5 aspect-square p-2 border-none bg-transparent gap-[.40rem] group close ml-2"
>
    <div
        class="bg-white group-hover:bg-gradient-to-r group-hover:from-purple-500 group-hover:to-blue-500 h-1 w-full rounded-full transition duration-500 origin-left"
    >
    </div>
    <div
        class="bg-white group-hover:bg-gradient-to-r group-hover:from-purple-500 group-hover:to-blue-500 h-1 w-full rounded-full transition duration-500 origin-left"
    >
    </div>
    <div
        class="bg-white group-hover:bg-gradient-to-r group-hover:from-purple-500 group-hover:to-blue-500 h-1 w-full rounded-full transition duration-500 origin-left"
    >
    </div>
</button>

<style is:global>
    .open > div:nth-child(1) {
        transform: rotate(45deg);
    }

    .open > div:nth-child(2) {
        opacity: 0;
    }

    .open > div:nth-child(3) {
        transform: rotate(-45deg);
    }

    .close > div:nth-child(1) {
        transform: rotate(0);
    }

    .close > div:nth-child(2) {
        opacity: 1;
    }

    .close > div:nth-child(3) {
        transform: rotate(0);
    }
</style>

<script>
    import {
        hideLinksPanel,
        showLinksPanel,
        hideGreyPanel,
        hideSettingsPanel,
    } from "@/utils";

    const handleClick = () => {
        const button = document.getElementById("btn-links");
        if (button) {
            button.addEventListener("click", () => {
                if (button.classList.contains("open")) {
                    hideLinksPanel();
                } else {
                    hideGreyPanel();
                    hideSettingsPanel();
                    showLinksPanel();
                }
            });
        }
    };
    handleClick();
    document.addEventListener("astro:after-swap", () => {
        handleClick();
    });
</script>
