---
import MyName from "../MyName.astro";
import Link from "./Link.astro";
import ChangerColorPrefBtn from "./themeSwitcher/ChangerColorPrefBtn.astro";
---

<header
    class="w-full h-14 bg-background-600 sticky flex items-center justify-between"
>
    <div>
        <MyName />
    </div>

    <div class="flex gap-10">
        <Link href="home">Home</Link>
        <Link href="about">About</Link>
        <Link href="career">Career</Link>
        <Link href="projects">Projects</Link>
        <Link href="contact">Contact</Link>
    </div>

    <div class="mx-10">
        <ChangerColorPrefBtn cliente:only />
    </div>
</header>
