---
import Glows from "@/layouts/Glows.astro";

interface Props {
    classListBorder?: string;
    classListContent?: string;
}

const { classListBorder, classListContent } = Astro.props;
---

<div
    class={`box relative z-10 w-full h-full
    
    before:absolute before:inset-[.3rem] before:bg-background-600 before:rounded-md
    
    ${classListBorder}
    `}
>
    <Glows zIndex={10} cantSm={1} cant={1} />
    <div
        class={`rounded-md z-20 relative m-[.3rem] p-10 sm:py-10 sm:px-20 ${classListContent}`}
    >
        <slot />
    </div>
</div>

<style>
    .box::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-image: url("../icons/noisy.webp");
        pointer-events: none;
        user-select: none;
    }
</style>

<style is:inline>
    .box {
        background: repeating-conic-gradient(
            from var(--a),
            #a855f7 0%,
            #a855f7 5%,
            transparent 5%,
            transparent 40%,
            #a855f7 50%
        );
        animation: animate 10s linear infinite;
        /* animation-play-state: paused; */
        border-radius: 10px;
    }

    @property --a {
        syntax: "<angle>";
        inherits: false;
        initial-value: 0deg;
    }

    @keyframes animate {
        0% {
            --a: 0deg;
        }
        100% {
            --a: 360deg;
        }
    }
</style>
