---
interface Props {
    classList?: string;
}

const { classList } = Astro.props;
---

<div
    class={`box relative z-10 py-10 px-20 

after:absolute after:inset-2 after:bg-background-100 dark:after:bg-background-600 after:rounded-md

${classList}
`}
>
    <div class="box-content z-20 relative h-full w-full flex items-center">
        <slot />
    </div>
</div>

<style is:inline>
    .box {
        background: repeating-conic-gradient(
            from var(--a),
            #a855f7 0%,
            #a855f7 5%,
            transparent 5%,
            transparent 40%,
            #a855f7 50%
        );
        animation: animate 10s linear infinite;
        /* animation-play-state: paused; */
        border-radius: 12px;
    }

    @property --a {
        syntax: "<angle>";
        inherits: false;
        initial-value: 0deg;
    }

    @keyframes animate {
        0% {
            --a: 0deg;
        }
        100% {
            --a: 360deg;
        }
    }
</style>
