---
interface Props {
    className?: string;
}

const { className } = Astro.props;
---

{
    (
        <div
            class={`bg-background-100/10 p-8 rounded-lg ${className} transition-all ease-in-out duration-150 border-2 `}
        >
            <slot />
        </div>
    )
}
