---
import { getLangFromUrl } from "@/i18n";
import TextColor from "./TextColor.astro";

interface Props {
    className?: string;
}
const { className } = Astro.props;

// const { currentLocale } = Astro;

const url = Astro.request.url;
const currentLocale = getLangFromUrl(new URL(url));

const baseUrl = url.replace(/(es|en)(.*)$/, "") + currentLocale;
---

<a href={`${baseUrl}/home`} class={` font-bold ${className} min-w-max`}>
    <span>Bruno</span>
    <TextColor>Pons</TextColor>
</a>
