---
interface Props {
    className?: string;
}
const { className } = Astro.props;
---

<span
    class={`font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-purple-500 to-red-400 dark:to-blue-500  ${className} w-max`}
    ><slot />
</span>
