---
import { getI18N } from "@/i18n";
import SubTitle from "../SubTitle.astro";
import TextColor from "../TextColor.astro";
import TimeLine from "./timeline/TimeLine.astro";

import LayoutContent from "@/layouts/LayoutContent.astro";
const { currentLocale } = Astro;

const i18n = getI18N({ currentLocale });
---

<LayoutContent>
    <div class="flex-grow flex flex-col justify-start gap-10">
        <SubTitle>
            {i18n.CAREER.TITLE[1]}
            <TextColor>
                {i18n.CAREER.TITLE[2]}
            </TextColor>
        </SubTitle>
        <TimeLine />
    </div>
</LayoutContent>
