<button
    id="closeSocialMediaBtn"
    class="w-8 sm:w-6 aspect-square m-[10%] fixed group cursor-pointer"
>
    <div
        class={`absolute top-0 left-0 right-0 bottom-0 m-auto h-1/6 w-full rounded-full transition duration-150 rotate-45 bg-background-100 sm:group-hover:bg-linear-to-r sm:group-hover:from-purple-500 sm:group-hover:to-blue-500
        
        group-active:bg-linear-to-r group-active:from-purple-500 group-active:to-blue-500
        `}
    >
    </div>
    <div
        class={`absolute top-0 left-0 right-0 bottom-0 m-auto h-1/6 w-full rounded-full transition duration-150 -rotate-45 bg-background-100 sm:group-hover:bg-linear-to-r sm:group-hover:from-purple-500 sm:group-hover:to-blue-500
        
        group-active:bg-linear-to-r group-active:from-purple-500 group-active:to-blue-500
        `}
    >
    </div>
</button>

<script>
    import { hideGreyPanel, hideSocialMediaPanel } from "@/utils";
    const handleClick = () => {
        document
            .getElementById("closeSocialMediaBtn")
            ?.addEventListener("click", () => {
                hideGreyPanel();
                hideSocialMediaPanel();
            });
    };
    handleClick();
    document.addEventListener("astro:after-swap", () => {
        handleClick();
    });
</script>
