<button id="closeSocialMediaBtn" class="w-8 aspect-square m-[10%] fixed group">
    <div
        class="absolute top-0 left-0 right-0 bottom-0 m-auto h-1/6 w-full rounded-full transition duration-150 rotate-45 bg-background-500 dark:bg-background-100 group-hover:bg-gradient-to-r group-hover:from-purple-500 group-hover:to-red-400 dark:group-hover:to-blue-500"
    >
    </div>
    <div
        class="absolute top-0 left-0 right-0 bottom-0 m-auto h-1/6 w-full rounded-full transition duration-150 -rotate-45 bg-background-500 dark:bg-background-100 group-hover:bg-gradient-to-r group-hover:from-purple-500 group-hover:to-red-400 dark:group-hover:to-blue-500"
    >
    </div>
</button>

<script>
    import { hideGreyPanel, hideSocialMediaPanel } from "@/utils";
    const handleClick = () => {
        document
            .getElementById("closeSocialMediaBtn")
            ?.addEventListener("click", () => {
                hideGreyPanel();
                hideSocialMediaPanel();
            });
    };
    handleClick();
    document.addEventListener("astro:after-swap", () => {
        handleClick();
    });
</script>
