---
import CloseSocialMediaPanel from "./CloseSocialMediaPanel.astro";
import GithubIcon from "@/icons/GithubIcon.astro";
import LinkedinIcon from "@/icons/LinkedinIcon.astro";
import MailIcon from "@/icons/MailIcon.astro";
---

<div
    id="socialMediaPanel"
    style="display: none;"
    class="hide-panel fixed h-full w-full sm:w-48 bg-background-200 dark:bg-background-400 right-0 z-40 sm:rounded-l-3xl sm:shadow-2xl sm:shadow-black"
>
    <CloseSocialMediaPanel />
    <div class="flex flex-col h-full w-full justify-evenly items-center">
        <GithubIcon
            gradientName="github-gradient-light"
            desc="Github"
            href="mailto:bruaguspons@gmail.com"
            target="_blank"
            className="hidden dark:block w-20"
            from_color="#A855F6"
            to_color="#3b82f6"
        />
        <GithubIcon
            gradientName="github-gradient-dark"
            desc="Github"
            href="mailto:bruaguspons@gmail.com"
            target="_blank"
            className="block dark:hidden w-20"
            from_color="#A855F6"
            to_color="#f87171"
        />
        <LinkedinIcon
            gradientName="linkedin-gradient-dark"
            desc="Linkedin"
            href="mailto:bruaguspons@gmail.com"
            target="_blank"
            className="hidden dark:block w-20"
            from_color="#A855F6"
            to_color="#3b82f6"
        />
        <LinkedinIcon
            gradientName="linkedin-gradient-light"
            desc="Linkedin"
            href="mailto:bruaguspons@gmail.com"
            target="_blank"
            className="block dark:hidden w-20"
            from_color="#A855F6"
            to_color="#f87171"
        />
        <MailIcon
            gradientName="mail-gradient-dark"
            desc="Mail"
            href="mailto:bruaguspons@gmail.com"
            target="_blank"
            className="hidden dark:block w-20"
            from_color="#A855F6"
            to_color="#3b82f6"
        />
        <MailIcon
            gradientName="mail-gradient-light"
            desc="Mail"
            href="mailto:bruaguspons@gmail.com"
            target="_blank"
            className="block dark:hidden w-20"
            from_color="#A855F6"
            to_color="#f87171"
        />
    </div>
</div>

<style is:inline>
    .show-panel {
        animation: Show 0.3s ease-in-out forwards;
    }
    .hide-panel {
        animation: Hide 0.3s ease-in-out forwards;
    }

    @keyframes Hide {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(100%);
        }
    }

    @keyframes Show {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(0);
        }
    }
</style>
