@import "tailwindcss";

@theme inline {
    --font-sans: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

/* body {
    box-sizing: content-box;
} */

main {
    background-image: url("/noisy.webp");
}

@keyframes carousel {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-carousel {
  animation: carousel linear infinite;
  width: max-content;
}

/* efecto de desvanecimiento en bordes */
.carousel-mask {
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}

/* Chrome, Edge y Safari */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
html {
  scrollbar-width: none;
}

/* IE / Edge antiguo */
html {
  -ms-overflow-style: none;
}

/* ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #13151a;
  background-image: url("../icons/noisy.webp");
}
::-webkit-scrollbar-thumb {
  background: #d1d9dc;
  border-radius: 10px;
  border: 3px solid #13151a;
}
::-webkit-scrollbar-thumb:hover {
  background: #eeeef8;
}
::-webkit-scrollbar-corner {
  display: none;
} */