---
interface Props {
    cantSm?: number | undefined;
    cant?: number | undefined;
    zIndex?: number | undefined;
}

const { cantSm = 0, cant = 0, zIndex = -20 } = Astro.props;
---

<div
    class="absolute top-0 bottom-0 left-0 right-0 m-auto h-full w-full flex flex-col justify-around items-center"
    style={{
        zIndex: zIndex,
    }}
>
    {
        cantSm > 0 &&
            [...Array(cantSm)].map(() => (
                <div class="w-64 aspect-square rounded-full bg-radial from-purple-500/95 to-transparent blur-[100px] block sm:hidden" />
            ))
    }
    {
        cant > 0 &&
            [...Array(cant)].map(() => (
                <div class="w-96 aspect-square rounded-full bg-radial from-purple-500/95 to-transparent blur-[100px] hidden sm:block" />
            ))
    }
</div>
