<div
    id="greyPanel"
    class="fixed h-full w-full bg-zinc-500/50 top-0 hidden sm:hidden"
>
</div>
<script>
    import {
        hideGreyPanel,
        hideSocialMediaPanel,
        hideLinksPanel,
        hideSettingsPanel,
    } from "@/utils";

    const handleSwap = () => {
        const panel = document.getElementById("greyPanel");

        if (panel) {
            panel.addEventListener("click", () => {
                hideGreyPanel();
                hideSocialMediaPanel();
                hideLinksPanel();
                hideSettingsPanel();
            });
        }
    };
    handleSwap();
    document.addEventListener("astro:after-swap", () => {
        handleSwap();
    });
</script>
