---
import Switch from "@/components/Switch.astro";

const { url } = Astro.request;

const isChecked = url.includes("es");
---

<div class="flex gap-3">
  <span>EN</span>
  <Switch id="switch" isChecked={isChecked} />
  <span>ES</span>
</div>

<script define:vars={{ url }}>
  document.getElementById("switch")?.addEventListener("change", (e) => {
    const value = e.target.checked;
    let newUrl = url.replace("/es/", "/en/");
    if (value) newUrl = url.replace("/en/", "/es/");
    setTimeout(() => {
      return (window.location.href = newUrl);
    }, 400);
  });
</script>
