<div class="h-10">
    <div
        class={`relative bg-background-400 dark:bg-background-200 w-1 h-full mx-5 z-10`}
    >
        <div
            class="absolute custom-top left-1/2 w-4 h-4 rounded-full bg-gradient-to-t from-purple-500 to-red-400 dark:to-blue-500 -translate-x-1/2"
        >
        </div>
    </div>
</div>

<!-- </div> -->

<style is:inline>
    .custom-top {
        top: calc(50% - 8px);
    }
</style>
