---
interface Props {
    id: number;
    desc?: boolean;
}

const { id, desc } = Astro.props;
---

<div class={`[grid-area:date${id}]`}></div>
<div class={`[grid-area${id}:timeline]`}>
    {
        desc ? (
            <>
                <div class="relative bg-background-400 dark:bg-background-200 w-1 h-5 mx-5 z-10 mt-2 rounded-full" />
                <div class="relative bg-background-400 dark:bg-background-200 w-1 h-3 mx-5 z-10 mt-2 rounded-full" />
                <div class="relative bg-background-400 dark:bg-background-200 w-1 h-1 mx-5 z-10 mt-2  rounded-full" />
            </>
        ) : (
            <>
                <div class="relative bg-background-400 dark:bg-background-200 w-1 h-1 mx-5 z-10 mb-2 rounded-full" />
                <div class="relative bg-background-400 dark:bg-background-200 w-1 h-3 mx-5 z-10 mb-2 rounded-full" />
                <div class="relative bg-background-400 dark:bg-background-200 w-1 h-5 mx-5 z-10 mb-2 rounded-full" />
            </>
        )
    }
</div>
<div class={`[grid-area:content${id}]`}></div>
