---
import TimeLineEnding from "./TimeLineEnding.astro";
import TimeLineItem from "./TimeLineItem.astro";

interface Item {
    date: string;
    title: string;
    link: string;
}
interface Props {
    items: Item[];
}

const { items } = Astro.props;
---

<div class="grid grid-cols-11 mx-10">
    <TimeLineEnding />
    {
        items.map((item, ind) => (
            <TimeLineItem
                rounded_top={ind === 0}
                rounded_bottom={ind === items.length - 1}
                date={item.date}
                title={item.title}
                link={item.link}
            />
        ))
    }
    <TimeLineEnding desc />
</div>

<style>
    .timeline {
        display: grid;
        grid-template-areas:
            "date0 timeline0 content0"
            "date1 timeline1 content1"
            "date2 timeline2 content2"
            "date3 timeline3 content3";
        grid-template-columns: auto auto 1fr;
        grid-template-rows: 1fr;
    }
</style>
